.container-fluid
  #wrapper
    acme-navbar
    // Page Content
    #page-content-wrapper
      .container-fluid
        button.btn.btn-default(ng-show='!editing', ui-sref='adminPanel.professors')  Back to Professors


        .team
          ul
            li.media
              .media-left.media-middle(ng-show='!editing')
                img.media-object.img-thumbnail(ngf-thumbnail='profDetail.professorDetails.photo')
              .media-body(ng-show='!editing')
                h3.media-heading {{ profDetail.professorDetails.name}}
                p.label.label-danger {{ profDetail.professorDetails.department }}
                // <p>{{ professor.description }}</p>
                button.btn.btn-primary.pull-right(type='button', ng-click='editing = true; show=true') Edit



              // --------------  EDITING MODE ---------------

              .media-left.media-middle(ng-show='editing')
                img.media-object.img-thumbnail(ngf-thumbnail='profDetail.professorDetails.photo')
                input#photo(type='file', ngf-select='', ng-model='profDetail.professorDetails.photo', name='photo', accept='image/*', ngf-max-size='2MB', required='', ngf-model-invalid='errorFile')
              .media-body(ng-show='editing')
                p
                  label Name:
                  input.form-control(type='text', ng-model='profDetail.professorDetails.name', placeholder='Name', ng-required='')
                p
                  label Department:
                    select#department.form-control(ng-model='profDetail.professorDetails.department', required='')
                      option bus
                      option cos
                      option eco
                      option eng
                      option hty
                      option inf
                      option jmc
                      option mat
                      option pos
                br

                button.btn.btn-success(type='submit' ng-click='editing = false; profDetail.save()' ) Save
                button.btn.btn-info(type='submit' ng-click='editing = false; profDetail.cancel()') Cancel
                button.btn.btn-danger.pull-right(type='button', ng-click='profDetail.delete()') Delete




        // ------------------ EVALUATIONS --------------------
        .row.team(ng-show='!editing')
          br
          br
          h1 Student Evaluations of teaching
          ul
            li
              span
                strong Edor Kacerja:
              |  i cant believe i pay $22/class with this professor.
            li
              span
                strong Edor Kacerja:
              |  i cant believe i pay $22/class with this professor.
            li
              span
                strong Edor Kacerja:
              |  i cant believe i pay $22/class with this professor.
