.container-fluid
  #wrapper
    acme-navbar
    // Page Content
    #page-content-wrapper
      .container-fluid
        // -------------- HEADER ---------------
        .row
          menu-button
          .col-md-4
            .form-group
              input.form-control(type='text', ng-model='team.searchBox', placeholder='Search')
          .col-md-4
            button.btn.btn-info(ng-click='team.addMember()')  Add Team Member
        h1 Team Members
        br
        // ----------------- TEAM LIST ------------------
        .team
          ul
            li.media(ng-repeat='member in team.paginationRange | filter:team.searchBox')
              team-member(model="member")
        // team list finish
        // ---------------- PAGINATION ----------------
        pagination(ng-model='team.currentPage', total-items='(team.teamMembers | filter:team.searchBox).length', max-size='team.maxSize', boundary-links='true', ng-change='team.pageChanged()')

