.media-left.media-middle(ng-show='!editing')
  img.media-object.img-thumbnail(src='http://lorempixum.com/100/100/nature/1')
.media-body(ng-show='!editing')
  h3 {{ tmc.model.name}}
  p {{tmc.model.description}}
  button.btn.btn-primary.pull-right(ng-hide='editing', ng-click='editing = true') Edit

  // --------------  EDITING MODE ---------------
.media-left.media-middle(ng-show='editing')
  img.media-object.img-thumbnail(src='http://lorempixum.com/100/100/nature/1')
.media-body(ng-show='editing')
  p
    label Name:
    input.form-control(type='text', ng-model='tmc.model.name', placeholder='Name', ng-required='')
  p
    label Description:
    input.form-control(type='text', ng-model='tmc.model.description', placeholder='Description', ng-required='')
  br
  //todo: save implementation and cancel implementation
  button.btn.btn-success(type='submit' ng-click='editing = false' ) Save
  button.btn.btn-info(type='submit' ng-click='editing = false') Cancel
  button.btn.btn-danger.pull-right(type='button', ng-click='tmc.delete()')
    | Delete
