<div class="row">
    <div class="col-xs-3">
        <a routerLink="/admin/dashboard/posts" class="btn btn-primary ">Back</a>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <input  class="form-control" [(ngModel)]="post.title" name="title" placeholder="Title" />
    </div>
    <div class="form-group">
        Article is featured? <input type="checkbox" [(ngModel)]="post.featured" />
    </div>
    <div class="form-group">
        Article styles
        <input  class="form-control" [(ngModel)]="post.styles" name="styles" placeholder="Styles" />

    </div>
</div>


<div class="row">
    <div class="col-xs-7">
        <ckeditor
                [(ngModel)]="post.content"
                [config]="{uiColor: '#FFFFFF'}"
                (change)="onChange($event)"
                (ready)="onReady($event)"
                debounce="500">
        </ckeditor>
    </div>
</div>
<div class="row">
    Article photo
    <div class="col-xs-6" *ngIf="post.image">
        <img src="{{post.image}}" class="img-thumbnail">
    </div>

    <div class="col-xs-3" *ngIf="!post.image && uploader && uploader.getNotUploadedItems().length == 0">
        <div ng2FileDrop
             [ngClass]="{'file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader"
             class="well my-drop-zone">
            Drop a photo here
        </div>
    </div>
    <div class="col-xs-3" *ngIf="uploader && uploader.getNotUploadedItems().length > 0">
        <div *ngFor="let item of uploader.queue">
            {{item?.file?.name}}
            {{item?._file}}

        </div>

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="savePost()">Save article</button>
    </div>
</div>