div(ng-show='!editing', ng-submit='editing = true')
  img(src='http://lorempixum.com/100/100/nature/1')
  h3 {{ int.model.name}}
  p {{ int.model.description}}
  p link: {{ int.model.link}}
  button.btn.btn-primary.pull-right(ng-hide='editing', type='submit') Edit
// ------------   EDITING MODE   ---------------
form(ng-show='editing', ng-submit='editing = false')
  label Name:
  input(type='text', ng-model='int.model.name', placeholder='Name', ng-required='')
  label Description:
  input(type='text', ng-model='int.model.description', placeholder='Description', ng-required='')
  br
  button.btn.btn-success(type='submit') Save
  button.btn.btn-danger(type='button', ng-click='int.delete()')
    | Delete

