.container-fluid
  #wrapper
    acme-navbar
    // Page Content
    #page-content-wrapper
      .container-fluid
        // ------------  HEADER  -------------
        .row
          menu-button
          .col-md-4
            .form-group
              input.form-control(type='text', ng-model='internCtrl.searchBox', placeholder='Search')
          .col-md-4
            button.btn.btn-info(ng-click='internCtrl.addInternship()')  Add Internship
        h1 Internships
        br
        span(us-spinner='{radius:30, width:8, length: 16}' ng-show='internCtrl.loading')
        // ------------ INTERNSHIPS LIST  ----------
        .team
          ul
            li.media(ng-repeat='internship in internCtrl.paginationRange')
              internship(model="internship")

        // ---------------- PAGINATION ----------------
        pagination(ng-model='internCtrl.currentPage', total-items='(internCtrl.internshipsArray | filter:internCtrl.searchBox).length', max-size='internCtrl.maxSize', boundary-links='true', ng-change='internCtrl.pageChanged()')

