.modal-header
  h3.modal-title Add Club
form(name='acc.registrationForm', role='form', ng-submit='acc.add()', novalidate='')
  .modal-body
    .form-group.row(ng-class="{ 'has-error' : acc.registrationForm.name.$error.required && acc.registrationForm.name.$dirty }")
      label.col-md-2.control-label(for='name') Name
      .col-md-10
        input#name.form-control(type='text', ng-model='acc.newClub.name', name='name', placeholder='name', required='')
        span.help-block(ng-show='acc.registrationForm.name.$error.required  && !acc.registrationForm.name.$pristine') Please enter your name!
    .form-group.row(ng-class="{ 'has-error' : acc.registrationForm.president.$error.required && acc.registrationForm.president.$dirty }")
      label.col-md-2.control-label(for='president') President
      .col-md-10
        input#president.form-control(type='text', ng-model='acc.newClub.president', name='president', placeholder='President of the Club', required='')
        span.help-block(ng-show='acc.registrationForm.president.$error.required  && !acc.registrationForm.president.$pristine') Please enter the president's name!
    .form-group.row(ng-class="{ 'has-error' : acc.registrationForm.professorId.$error.required && acc.registrationForm.professorId.$dirty }")
      label.col-md-2.control-label(for='professorId') Professor ID
      .col-md-10
        input#professorId.form-control(type='text', ng-model='acc.newClub.professorId', name='professorId', placeholder='Professor ID', required='')
        span.help-block(ng-show='acc.registrationForm.professorId.$error.required  && !acc.registrationForm.professorId.$pristine') Please enter the professor's ID!
    .form-group.row(ng-class="{ 'has-error' : acc.registrationForm.title.$error.required && acc.registrationForm.title.$dirty }")
      label.col-md-2.control-label(for='photo') Photo
      .col-md-10
        input#photo(type='file', ngf-select='', ng-model='acc.newClub.photo', name='photo', accept='image/*', ngf-max-size='2MB', required='', ngf-model-invalid='errorFile')
        span.help-block(ng-show='acc.registrationForm.photo.$error.required  && !acc.registrationForm.photo.$pristine') Please attach a picture!
        img.img-thumbnail(ng-show='acc.registrationForm.photo.$valid', ngf-thumbnail='acc.newClub.photo')
  // ---------- END MODAL BODY ------------
  .modal-footer
    button.btn.btn-primary(ng-disabled='acc.registrationForm.$invalid', type='submit') Register
    button.btn.btn-warning(type='button', ng-click='acc.cancel()') Cancel
