.container-fluid
    #wrapper
      acme-navbar
      // Page Content
      #page-content-wrapper
        .container-fluid
          .row
            menu-button
            .col-md-4
              .form-group
                input.form-control(type='text', ng-model='prof.searchBox', placeholder='Search')
            .col-md-4
              button.btn.btn-info(ng-click='prof.addProfessor()')  Add Professor
          h1 Professors
          br
          // NAVIGATION
          ul.media-list(tab-pane='', fade='', in='', active='')
            ul.nav.nav-tabs(role='tablist')
              li(role='presentation', ng-class='{active:isSelected(1)}')
                a(ng-click='prof.select(1)', aria-controls='all departments', role='tab') All departments
              li(role='presentation', ng-class='{active:isSelected(2)}')
                a(ng-click='prof.select(2)', aria-controls='business', role='tab') BUS
              li(role='presentation', ng-class='{active:isSelected(3)}')
                a(ng-click='prof.select(3)', aria-controls='computer science', role='tab') COS
              li(role='presentation', ng-class='{active:isSelected(4)}')
                a(ng-click='prof.select(4)', aria-controls='economics', role='tab') ECO
              li(role='presentation', ng-class='{active:isSelected(5)}')
                a(ng-click='prof.select(5)', aria-controls='literature', role='tab') ENG
              li(role='presentation', ng-class='{active:isSelected(6)}')
                a(ng-click='prof.select(6)', aria-controls='history', role='tab') HTY
              li(role='presentation', ng-class='{active:isSelected(7)}')
                a(ng-click='prof.select(7)', aria-controls='information systems', role='tab') INF
              li(role='presentation', ng-class='{active:isSelected(8)}')
                a(ng-click='prof.select(8)', aria-controls='journalism', role='tab') JMC
              li(role='presentation', ng-class='{active:isSelected(9)}')
                a(ng-click='prof.select(9)', aria-controls='mathematics', role='tab') MAT
              li(role='presentation', ng-class='{active:isSelected(10)}')
                a(ng-click='prof.select(10)', aria-controls='political science', role='tab') POS
            // ------------- PROFESSORS LIST --------------
            br
            .team
              ul
                li.media(ng-repeat='professor in prof.paginationRange | filter: prof.filtText | filter:prof.searchBox')
                  .media-left.media-middle
                    img.media-object.img-thumbnail(ngf-thumbnail='professor.photo')
                  .media-body
                    h3.media-heading {{ professor.name}}
                    p.label.label-danger {{ professor.department }}
                    // <p>{{ professor.description }}</p> todo: add professor description in the api
                    button.btn.btn-primary.pull-right(type='button', ui-sref='adminPanel.professorDetails({professorId: professor.id})') View Details
            // professors list finish

          // ---------------- PAGINATION ----------------
          pagination(ng-model='prof.currentPage', total-items='(prof.professorsArray | filter: prof.filtText | filter:prof.searchBox).length', max-size='prof.maxSize', boundary-links='true', ng-change='prof.pageChanged()')
