.modal-header
  h3.modal-title Add Professor
form(name='apr.registrationForm', role='form', ng-submit='apr.add()', novalidate='')
  .modal-body
    .form-group.row(ng-class="{ 'has-error' : apr.registrationForm.name.$error.required && apr.registrationForm.name.$dirty }")
      label.col-md-2.control-label(for='name') Name
      .col-md-10
        input#name.form-control(type='text', ng-model='apr.newProfessor.name', name='name', placeholder='', required='')
        span.help-block(ng-show='apr.registrationForm.name.$error.required  && !apr.registrationForm.name.$pristine') Please enter your name!
    .form-group.row(ng-class="{ 'has-error' : apr.registrationForm.department.$error.required}")
      label.col-md-2.control-label(for='department') Department:
      .col-md-10
        select#department.form-control(ng-model='apr.newProfessor.department', required='')
          option cos
          option inf
          option mat
          option jmc
          option pos
          option eco
          option bus
    // todo: add professors description in the API
    // <div class="form-group row"
    // ng-class="{ 'has-error' : apr.registrationForm.description.$error.required && apr.registrationForm.description.$dirty }">
    // <label class="col-md-2 control-label" for="description">Description</label>
    // <div class="col-md-10">
    // <input type="text" ng-model="apr.newProfessor.description" class="form-control" id="description"
    // name="description" placeholder="Description" required>
    // <span ng-show="apr.registrationForm.description.$error.required  && !apr.registrationForm.description.$pristine"
    // class="help-block">Please enter the description!</span>
    // </div>
    // </div>
    .form-group.row(ng-class="{ 'has-error' : apr.registrationForm.title.$error.required && apr.registrationForm.title.$dirty }")
      label.col-md-2.control-label(for='photo') Photo
      .col-md-10
        input#photo(type='file', ngf-select='', ng-model='apr.newProfessor.photo', name='photo', accept='image/*', ngf-max-size='2MB', required='', ngf-model-invalid='errorFile')
        span.help-block(ng-show='apr.registrationForm.photo.$error.required  && !apr.registrationForm.photo.$pristine') Please attach a picture!
        img.img-thumbnail(ng-show='apr.registrationForm.photo.$valid', ngf-thumbnail='apr.newProfessor.photo')
  // END  MODAL BODY
  .modal-footer
    button.btn.btn-primary(ng-disabled='apr.registrationForm.$invalid', type='submit') Register
    button.btn.btn-warning(type='button', ng-click='apr.closeRegistrationForm()') Cancel
