.container-fluid
  #wrapper
    acme-navbar
    // Page Content
    #page-content-wrapper
      .container-fluid
        // -------------- HEADER ---------------
        .row
          menu-button
          .col-md-4
            .form-group
              input.form-control(type='text', ng-model='clubsCtrl.searchBox', placeholder='Search')
          .col-md-4
            button.btn.btn-info(ng-click='clubsCtrl.addClub()')  Add Club
        h1 Clubs
        br
        // --------------  CLUB LIST  ---------------
        .team
          ul
            li.media(ng-repeat='club in clubsCtrl.paginationRange')
              .media-left.media-middle
                img.media-object.img-thumbnail(ng-src='http://aubgdaily.com/wp-content/uploads/2016/02/12002169_936447813082218_514544124821127265_n.jpg')
              .media-body
                h3.media-heading {{ club.name}}
                button.btn.btn-primary.pull-right(type='button', ui-sref='adminPanel.clubDetails({professorId: professor.id})') View Details

        // ---------------- PAGINATION ----------------
        pagination(ng-model='clubsCtrl.currentPage', total-items='(clubsCtrl.clubs | filter:clubsCtrl.searchBox).length', max-size='clubsCtrl.maxSize', boundary-links='true', ng-change='clubsCtrl.pageChanged()')

