.container-fluid
  #wrapper
    acme-navbar
    // Page Content
    #page-content-wrapper
      .container-fluid
        button.btn.btn-default(ng-show='!editing', ui-sref='adminPanel.clubs')  back to clubs


        // -------------   CLUB BODY   --------------

        .team
          ul
            li.media
              .media-left.media-middle(ng-show='!editing')
                img.media-object.img-thumbnail(ngf-thumbnail='clubDetail.club.logo')
              .media-body(ng-show='!editing')
                h3.media-heading {{ clubDetail.club.name }} something
                p  President: {{ clubDetail.club.president }} the rosen plevneyev
                p  Professor: {{ clubDetail.club.professor }} advisor of the club
                button.btn.btn-primary.pull-right(type='button', ng-click='editing = true; show=true') Edit

                // --------------  EDITING MODE ---------------
              .media-left.media-middle(ng-show='editing')
                img.media-object.img-thumbnail(ngf-thumbnail='clubDetail.club.logo')
                input#logo(type='file', ngf-select='', ng-model='clubDetail.club.logo', name='logo', accept='image/*', ngf-max-size='2MB', required='', ngf-model-invalid='errorFile')
              .media-body(ng-show='editing')
                p
                  label Name:
                  input.form-control(type='text', ng-model='clubDetail.club.name', placeholder='Name', ng-required='')
                p
                  label President:
                  input.form-control(type='text', ng-model='clubDetail.club.president', placeholder='President', ng-required='')
                p
                  label President:
                  //select.form-control(ng-model='clubDetail.', required='')
                br

                button.btn.btn-success(type='submit' ng-click='editing = false; clubDetail.save()' ) Save
                button.btn.btn-info(type='submit' ng-click='editing = false; clubDetail.cancel()') Cancel
                button.btn.btn-danger.pull-right(type='button', ng-click='clubDetail.delete()') Delete
