#clubs{
//removed, can be reused later
  /* Zoom Out #2 */
  .hover04 figure img {
    width: 400px;
    height: auto;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .hover04 figure:hover img {
    width: 300px;
  }
  .column {
    margin: 15px 15px 0;
    padding: 0;
  }
  .column:last-child {
    padding-bottom: 60px;
  }
  .column::after {
    content: '';
    clear: both;
    display: block;
  }
  .column div {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    margin: 0 0 0 25px;
    padding: 0;
  }
  .column div:first-child {
    margin-left: 0;
  }
  .column div span {
    position: absolute;
    bottom: -20px;
    left: 0;
    z-index: -1;
    display: block;
    width: 300px;
    margin: 0;
    padding: 0;
    color: #444;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    opacity: 0;
  }

  figure {
    width: 300px;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
  }
  figure:hover+span {
    bottom: -36px;
    opacity: 1;
  }
}
